#header {
  /* height: 150px; */
  position: relative;
  background: linear-gradient(90deg, #a5022e 30%, #7c0120 70%);
  color: #fff;
}

.logo {
  border: 1px solid;
  width: 100px;
  height: 100px;
}

.header__list {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list__item {
  padding: 10px;


  border: 1px solid;
}