@import url('https://fonts.googleapis.com/css?family=Kurale&display=swap');

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
  height: 300px;
  
  background: url(../image/confetti.png);
  background-size: 100%;
  /* background-position: 50% 50%; */
  background-attachment: fixed;

  font-family: 'Kurale', serif;
}

a {
  text-decoration: inherit;
  color: inherit;
}

#blog, #contacts {
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.blog__image {
  border: 1px solid;
}

.blog__text {
  text-align: center;
  background: #ab0230;
  color: #fff;
  padding: 10px;
}

.blog__text p {
  line-height: 28px;
}

.blog__text a {
  padding: 10px 20px;
  border-radius: 5px;
  background: #31366c;
  display: inline-block;
}

.contact_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 40px;
}

#contacts {
  margin: 50px auto auto !important;
}